@model List<HRMS.Models.HolidayModel>

@if (Model.Any())
{
    <div class="accordion accordion-flush" id="accordionFlushExample">
        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingOne">
                <button class="accordion-button collapsed body-text z-0" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                    Holiday List
                </button>
            </h2>
            <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                    <ul class="list-group body-text">
                        @foreach (var holiday in Model)
                        {
                            <li class="list-group-item holiday-list d-flex justify-content-between align-items-center">
                                @holiday.FromDate.ToString("dd-MMM-yyyy") - @holiday.ToDate.ToString("dd-MMM-yyyy")
                                <span class="badge holiday-list-text bg-primary rounded-pill">@holiday.HolidayName</span>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
}
else
{
    <p>No holidays found.</p>
}