@using HRMS.Models;
@using HRMS.Models.Common;
@using System.Globalization;
@using Microsoft.AspNetCore.Http
@using Microsoft.Extensions.Configuration
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@inject IConfiguration _configuration
@using HRMS.Models.DashBoard
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@model HRMS.Models.Common.Results
@{
    Layout = String.Format("~/Areas/{0}/Views/Shared/_Layout.cshtml", @HttpContextAccessor.HttpContext.Session.GetString(HRMS.Models.Common.Constants.AreaName));

    ViewData["Title"] = "Employee";

    var success = TempData["Success"];
    var Err = TempData["Error"];
}
<div class="main-header anim">Employee List</div>
<div class="row mb-2">
    <div class="col-md-3">
        <label>Sub Department</label>
        <select id="subDepartmentFilter" class="form-control form-control-sm">
            <option value="">All</option>
        </select>
    </div>
    <div class="col-md-3">
        <label>Job Location</label>
        <select id="locationFilter" class="form-control form-control-sm">
            <option value="">All</option>
        </select>
    </div>
    <div class="col-md-3">
        <label>Employee Type</label>
        <select id="employeeTypeFilter" class="form-control form-control-sm">
            <option value="">All</option>
        </select>
    </div>
    <div class="col-md-3">
        <label>Manager</label>
        <select id="managerFilter" class="form-control form-control-sm">
            <option value="">All</option>
        </select>
    </div>
</div>

<div class="table-responsive py-3">
    <table id="tblLeavesForReject" class="table table-striped body-text" style="width:100%">
        <thead>
            <tr>
                <th class="first" style="visibility:hidden" > </th>
                <th>Image</th>
                <th>Emp No</th>
                <th> Name</th>                          
                <th>Manager  </th>
                <th>Designation</th>
                <th>Department</th>
            </tr>
        </thead>
    </table>
</div>

<script type="text/javascript">
    $(document).ready(function () {

    function populateDropdown(selector, data) {
        if (!data) return;
          const currentValue = $(selector).val();

        $(selector).empty().append('<option value="">All</option>');

        $.each(data, function (i, item) {
            let value, text;

            if (selector === '#subDepartmentFilter') {
                value = item.subDepartmentID;
                text = item.name;
            } else if (selector === '#locationFilter') {
                value = item.jobLocationID;
                text = item.name;
            } else if (selector === '#employeeTypeFilter') {
                value = item.employeeTypeId;
                text = item.name;
            } else if (selector === '#managerFilter') {
                value = item.employeeID;
                text = item.fullName;
            }

            $(selector).append($('<option>', {
                value: value,
                text: text
            }));
        });
         if (currentValue) {
        $(selector).val(currentValue);
    }
    }

      $('#subDepartmentFilter, #locationFilter, #employeeTypeFilter, #managerFilter').on('change', function () {

        table.ajax.reload();
        });
        
      var table = $('#tblLeavesForReject').DataTable({
        
            "ajax": {
                "url": "GetTeamEmployeeList/",
                "type": "POST",
                "datatype": "json",
                "data": function (d) {
            d.subDeptFilter = $('#subDepartmentFilter').val();
            d.empTypeFilter = $('#employeeTypeFilter').val();
            d.locationFilter = $('#locationFilter').val();
            d.managerFilter = $('#managerFilter').val();
        },
                  "dataSrc": function (json) {
                    
                    populateDropdown('#subDepartmentFilter', json.subDepartments);
                    populateDropdown('#locationFilter', json.locations);
                    populateDropdown('#employeeTypeFilter', json.employeeTypes);
                    populateDropdown('#managerFilter', json.managers);

                    return json.data;
                }
            },
            "ordering": true,
            "paging": true,
            "searching": true,
            "info": true,
            "columns": [
                { "data": "employeeId", "autoWidth": true, },
                {

                    "data": "employeePhoto",
                    "render": function (data, type, row) {                   
                        return '<img src="' + data + '" class="img-thumbnail" style="width: 50px; height: 50px;" />';

                    }
                },
                 { "data": "employeeNumber", "autoWidth": true },
                    {
        "data": null,
        "render": function (data, type, row) {
          
            let fullName = [data.firstName, data.middelName, data.lastName]
                            .filter(Boolean) 
                            .join(' ');
            return fullName;
        },
        "title": "Name", 
        "autoWidth": true
    },
                { "data": "managerName", "autoWidth": true },
                                 
                { "data": "designationName", "autoWidth": true },
                { "data": "departmentName", "autoWidth": true }
            ],
             "columnDefs": [
                 {
                    target: [2],
                    visible: false,
                    searchable: false
                },
                {

                    "targets": [0],
                    "orderable": false,
                     "visible": false
                },
                 {

                    "targets": [1],
                     "orderable": true,
                     "defaultContent": " "
                }

             ]
             , "responsive": true
        });
    });
</script>