@using HRMS.Models.Common;
<link href="~/assets/pages/gridlist.css" rel="stylesheet" />

@model Results
@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Template";

    var success = TempData["Success"];
    var Err = TempData["Error"];
    var rootPath = "/" + HRMS.Models.Common.Constants.TemplatePath;
}

<div class="main-header anim" style="--delay: 0s">Template List  <a href="~/Admin/Template"> <button type="button" class="btn btn-addBtn" id="openFormBtn">Add Template</button></a></div>
@* <div class="addcomp px-4">
    <h4>Template List</h4>
    <a href="~/Admin/Template"> <button type="button" class="btn btn-addcompany" id="openFormBtn">Add Template</button></a>
</div> *@


<div class="table-responsive py-3">
    <table id="tblTemplateListing" class="table table-striped body-text" style="width:100%">
        <thead>
            <tr>
                <th class="first" style="visibility:hidden"> /th>
                <th>Template Name</th>
                <th>Company ID</th>
                <th>Letter Head Name</th>
                <th>Header Image</th>
                <th>Footer Image</th>
                <th>Action</th>
            </tr>
        </thead>

    </table>
</div>



<script type="text/javascript">

    $(document).ready(function () {
        $('#tblTemplateListing').DataTable({
            "ajax": {
                "url": "TemplateListings/",
                "type": "POST",
                "datatype": "json"
            },
            "ordering": true,
            "paging": true,
            "searching": true,
            "info": true,
            "columns": [
                { "data": "templateID", "autoWidth": true },
                { "data": "templateName", "autoWidth": true },
                { "data": "companyID", "autoWidth": true },
                { "data": "letterHeadName", "autoWidth": true },
                {
                    "data": "headerImage",
                    "render": function (data, type, row) {
                        return '<img src="@rootPath' + data + '" alt="Header Image" style="width:100px;">';
                    }
                },
                {
                    "data": "footerImage",
                    "render": function (data, type, row) {
                        return '<img src="@rootPath' + data + '" alt="Footer Image" style="width:100px;">';
                    }
                },
                {
                    // Actions Column
                    "data": null,
                    "render": function (data, type, row) {
                        var linkEdit = '<a data-toggle="tooltip" data-placement="top" class="item" href="Index?id=' + row.encodedId + '" title="Edit"><img src="/assets/img/edit.png" width="20" height="20" /></a>';
    var linkPreview = '<a href="#" class="preview-btn" data-id="' + row.encodedId + '" title="Preview"><img title="Approve" src="/assets/img/view.webp" width="27" height="27"margin-top=""margin-top="5px" /></a>';
                        return '<div class="table-data-feature">' + linkEdit + linkPreview + '</div>';
                    }
                }
            ],
            "columnDefs": [
                {
                    "targets": 2,
                    "visible": false,
                    "searchable": false
                },
                {
                    "targets": [0],
                    "orderable": false,
                    "visible": false
                },
                {
                    "targets": [1],
                    "orderable": true,
                    "defaultContent": " "
                }
            ],
            "responsive": true
        });

        // Event listener for the preview button
        $('#tblTemplateListing').on('click', '.preview-btn', function (e) {
            e.preventDefault();
            var templateID = $(this).data('id');
            window.location.href = "/Admin/Template/PreviewAndPrint?id=" + templateID;
        });
    });

</script>