@using HRMS.Models.Common
@model Attendance
@{
    Layout = "~/Areas/Employee/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Attendance List";

}
<div class="main-header anim" style="--delay: 0s">Attendance List </div>
<form method="post" enctype="multipart/form-data">
    <div class="Container">
        <div class="group-box anim" style="--delay: .3s">

             
            @Html.HiddenFor(x => x.ID)
            <div class="row d-flex">
                <div class="col-md-6 form-group">
                    <label>Start Date <span class="Mandetory">*</span></label>
                    @Html.TextBoxFor(a => a.FirstLogDate, "{0:yyyy-MM-ddTHH:mm}", new
                        {
                            @class = "form-control",
                            @type = "datetime-local",
                            @required = "required",
                            max = DateTime.Now.ToString("yyyy-MM-ddTHH:mm")
                        })
                </div>
         @*    </div>
            <div class="row"> *@
                <div class="col-md-6 form-group">
                    <label>End Date <span class="Mandetory">*</span></label>
                    @Html.TextBoxFor(a => a.LastLogDate, "{0:yyyy-MM-ddTHH:mm}", new
                        {
                            @class = "form-control",
                            @type = "datetime-local",
                            @required = "required",
                            max = DateTime.Now.ToString("yyyy-MM-ddTHH:mm")
                        })
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 form-group">
                    <label>Comment <span class="Mandetory">*</span></label>
                    @Html.TextAreaFor(a => a.Comments, new
                        {
                            @class = "form-control",
                            @required = "required",
                            rows = "4", // You can adjust the rows as needed
                            cols = "50" // Optional, can be removed if not needed
                        })
                </div>

            </div>
            <div class="row d-flex text-end">
                <div class="col-md-12">
                    <input type="submit" value="Submit" class="btn btn-success" />
                    <button id="cancelButton" class="btn btn-danger" type="button" value="Cancel">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</form>