@using HRMS.Models.Common;
<link href="~/assets/pages/gridlist.css" rel="stylesheet" />

@model Results
@{
    Layout = "~/Areas/Employee/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Attendance Logs";

    var success = TempData["Success"];
    var Err = TempData["Error"];
}


<div class="main-header anim" style="--delay: 0s">
    Team Attendance Logs 
    
        <div class="col-md-4">
        <label for="employeeDropdown" style="font-size: 12px;">Select Employee:</label>
        <select id="employeeDropdown" class="form-control" >
                <option value="">All Employees</option>
            </select>
        </div>
   
</div>

@* <div class="addcomp px-4">
    <h4>Attendence List</h4>
    <a href="~/Admin/AttendenceList"> <button type="button" class="btn btn-addcompany" id="openFormBtn">Add Attendence</button></a>
</div>
 *@

<div class="table-responsive py-3">
    <table id="tblAttendenceLogs" class="table table-striped body-text" style="width:100%">
        <thead>
            <tr>
                <th class="first" style="visibility:hidden"> </th>
                <th>EmployeeName</th>
                <th>Description</th>
                <th>Created Date</th>              
                <th>AttendanceStatus</th>
            </tr>
        </thead>

    </table>
</div>



<script type="text/javascript">
  
    $(document).ready(function () {
        loadEmployeeDropdown();

        var table = $('#tblAttendenceLogs').DataTable({
            "ajax": {
                "url": "GetTeamAttendanceLogs/",
                "type": "POST",
                "datatype": "json",
                "data": function (d) {
                    d.employeeId = $('#employeeDropdown').val(); 
                }
            },
            "ordering": true,
            "paging": true,
            "searching": true,
            "info": true,
            "columns": [
                { "data": "id", "autoWidth": true },  
                { "data": "employeeName", "autoWidth": true },
                { "data": "description", "autoWidth": true },  
                {
                    "data": "createdDate", "autoWidth": true, 
                    "render": function (data, type, row) {
                        if (data) {
                            var date = new Date(data);
                            var formattedDate = date.getFullYear() + '-' + (date.getMonth() + 1).toString().padStart(2, '0') + '-' + date.getDate().toString().padStart(2, '0');
                            return formattedDate;
                        }
                        return '';  
                    }
                },                            
                { "data": "attendanceStatus", "autoWidth": true },
            ],
            "columnDefs": [
                {
                    "targets": [0], 
                    "visible": false 
                }
            ],
            "responsive": true
        });
   
    function loadEmployeeDropdown() {
        $.ajax({
            url: "GetTeamEmployeeList/",
            type: "POST",
            dataType: "json",
            success: function (data) {              
                var dropdown = $('#employeeDropdown');
                dropdown.empty().append('<option value="">All Employees</option>');

                    $.each(data.data, function (index, item) {
                        var fullName = item.firstName +
                            (item.middelName && item.middelName.trim() ? " " + item.middelName : ""); 

                        dropdown.append($('<option></option>').val(item.employeeId).text(fullName));
                    });

            }
        });
    }  
    $('#employeeDropdown').change(function () {
        table.ajax.reload();
    });
    });
</script> 