@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@using Microsoft.AspNetCore.Http
@using Microsoft.Extensions.Configuration
@inject IConfiguration _configuration
@{
    Layout = String.Format("~/Areas/{0}/Views/Shared/_Layout.cshtml", @HttpContextAccessor.HttpContext.Session.GetString(HRMS.Models.Common.Constants.AreaName));
    ViewData["Title"] = "Attendance List";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Attendance Calendar - Month View</title>

    <!-- FullCalendar 3.x CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.2/fullcalendar.min.css" rel="stylesheet" />

    <!-- jQuery & moment.js -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>

    <!-- FullCalendar 3.x JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.2/fullcalendar.min.js"></script>

	<style>

		a.fc-day-grid-event.fc-h-event.fc-event.fc-start.fc-end.status-leave { 
			top: 50%;
			left: 18%; 
			background-color: #e86262;
			color: white; 
			font-weight: bold;
			font-size: 18px;
			width: 133px;
			height: 30px;
			text-align: center;
			line-height: 30px;
			cursor: pointer;
			border:none;
		}

		a.fc-day-grid-event.fc-h-event.fc-event.fc-start.fc-end.status-holiday { 
			top: 50%;
			left: 18%;
			background-color: #1c5db1;
			color: white;
			font-weight: bold;
			font-size: 18px;
			width: 133px;
			height: 30px;
			text-align: center;
			line-height: 30px;
			cursor: pointer;
			border:none;
		}

		a.fc-day-grid-event.fc-h-event.fc-event.fc-start.fc-end.status-unknown {
			display: none;
		}
		a.fc-day-grid-event.fc-h-event.fc-event.fc-start.fc-end.status-absent {
			top: 50%;
			left: 18%;
			background-color: #dc3545;
			color: white;
			/* border-radius: 50%; */
			font-weight: bold;
			font-size: 18px;
			width: 133px;
			height: 30px;
			text-align: center;
			line-height: 30px;
			cursor: pointer;
			border: none;
		}
		
		a.fc-day-grid-event.fc-h-event.fc-event.fc-start.fc-end.status-present{ 
			top: 50%;
			left: 18%; 
			background-color: #28a745;
			color: white; 
			font-weight: bold;
			font-size: 18px;
			width: 133px;
			height: 30px;
			text-align: center;
			line-height: 30px;
			cursor: pointer;
			border:none;
		}




		#calendar {
			/*         max-width: 900px; */
			margin: 0 auto;
		}

		.status-label {
			font-weight: bold;
			color: #fff;
			padding: 5px;
			border-radius: 5px;
		}

		.present {
			/* background-color: #0f9984; */
			background-color: green;
		}

		.absent {
			background-color: #138fab;
		}

		/* Popup styles */
		#popup {
			display: none;
			position: fixed;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			background-color: #fff;
			padding: 20px;
			border: 1px solid #ccc;
			border-radius: 9px;
			z-index: 9999;
			box-shadow: 0 4px 8px rgb(50 48 48 / 20%);
			width: 900px;
			min-height: 210px;
		}

			#popup h3 {
				margin-top: 0;
				text-align: center;
			}

			#popup button {
				margin-top: 3px;
				padding: 5px 10px;
				cursor: pointer;
				transform: translate(270%, 90%);
			}

		.status-label.absent {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			color: white;
			border-radius: 50%;
			font-weight: bold;
			font-size: 18px;
			width: 30px;
			height: 30px;
			text-align: center;
			line-height: 30px;
			cursor: pointer;
		}

		.status-label.present {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			color: white;
			border-radius: 50%;
			font-weight: bold;
			font-size: 18px;
			width: 30px;
			height: 30px;
			text-align: center;
			line-height: 30px;
			cursor: pointer;
		}



		.attendance-calenderlist {
			display: flex;
			justify-content: space-between;
			background: #edf3ff;
			padding-inline: 5px;
		}





		.atendance-calender-section {
			background: #053572;
		}

		label.years {
			font-weight: bold;
			padding-top: 7px;
		}

		.atendance-calender-section h1 {
			color: #fff;
		}


		.card {
			margin: 10px !important;
			padding-block: 14px !important;
			padding-inline: 12px !important;
			border: 0px !important;
		}

		.year-months {
			display: flex;
			flex-direction: row;
			padding-block: 20px;
			column-gap: 10px;
		}

		h6#employeeFullName {
			margin: 0px;
		}

		#card-footer-card #attendance-footer {
			background: #28a745;
			color: white;
			padding: 12px 7px;
			font-size: 16px;
			font-weight: 500;
			letter-spacing: .1rem;
		}

		#card-footer-card #sick-footer {
			background: #dc3545;
			color: white;
			padding: 12px 7px;
			font-size: 16px;
			font-weight: 500;
			letter-spacing: .1rem;
		}

		#card-footer-card #Unpaid-footer {
			background: #f7c188;
			color: black;
			padding: 12px 7px;
			font-size: 16px;
			font-weight: 500;
			letter-spacing: .1rem;
		}

		#card-footer-card #public-footer {
			background: #818584;
			color: black;
			padding: 12px 7px;
			font-size: 16px;
			font-weight: 500;
			letter-spacing: .1rem;
		}

		#card-footer-card #leave-footer {
			background: #ef7c7cad;
			color: black;
			padding: 12px 7px;
			font-size: 16px;
			font-weight: 500;
			letter-spacing: .1rem;
		}


		.footer-text-content {
			display: flex;
			/*   justify-content: space-evenly; */
			justify-content: center;
			margin-top: 20px;
		}

			.footer-text-content p {
				text-align: center;
				margin-block: auto;
				margin-right: 20px;
			}

		div#card-footer-card {
			display: flex;
			flex-direction: row;
			text-align: center;
			justify-content: center;
			/* padding-inline: 12px; */
			/*             gap: 5px; */

			margin-right: 20px;
		}

		h6.sick-footer-right {
			background: #dc3545;
			padding: 15px;
			color: white;
			font-size: 16px;
			font-weight: 600;
			border: 1px gray solid;
		}

		h6.Unpaid-footer-right {
			background: #f68e20;
			padding: 15px;
			color: white;
			font-size: 16px;
			font-weight: 600;
		}

		h6.public-footer-right {
			background: #1c5db1;
			padding: 15px;
			color: white;
			font-size: 16px;
			font-weight: 600;
		}

		h6.attendance-footer-right {
			background: #28a745;
			padding: 15px;
			color: white;
			font-size: 16px;
			font-weight: 600;
			border: gray 1px solid;
		}

		h6.leave-footer-right {
			background: #e86262;
			padding: 15px;
			color: white;
			font-size: 16px;
			font-weight: 600;
		}

		.fc-toolbar.fc-header-toolbar {
			margin-block: 1em !important;
		}

		#workDetails {
			margin: 5px 10px 21px;
		}

		/* .cardfooter-card
								{
									padding:0px !important;
								} */
		.hours-worked {
			font-weight: bold;
			color: #053572;
			background: #edf3ff5e;
			text-align: center;
		}

		.form-control {
			width: 120px !important;
		}

		.first-log {
			color: #053572;
		}

		.last-log {
			color: #053572;
		}

		.no-data {
			color: gray;
			font-style: italic;
		}
		/* #poup-workdetail {
						  display: flex;
						  justify-content: center;
						  align-content: center;
								} */
		#poup-workdetail {
			position: relative; /* Ensures the child absolute positioning is relative to this container */
		}

		.cross {
			position: absolute;
			top: -21px;
			right: -2px;
			font-size: 22px;
			cursor: pointer;
			color: #05397b;
			font-weight: 800;
		}

		#popup h3 {
			margin-top: 0;
			font-size: 20px;
			text-align: center;
			font-weight: 800;
			border-bottom: 1px solid #053777;
		}

		.status-label.sunday {
			background-color: #1c5db1;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			color: white;
			border-radius: 50%;
			font-weight: bold;
			font-size: 18px;
			width: 30px;
			height: 30px;
			text-align: center;
			line-height: 30px;
			cursor: pointer;
		}

		.status-label.leave {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			background-color: #e86262;
			color: white;
			border-radius: 50%;
			font-weight: bold;
			font-size: 18px;
			width: 30px;
			height: 30px;
			text-align: center;
			line-height: 30px;
			cursor: pointer;
		}

		.status-label.holiday {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			background-color: #010101;
			color: white;
			border-radius: 50%;
			font-weight: bold;
			font-size: 18px;
			width: 30px;
			height: 30px;
			text-align: center;
			line-height: 30px;
			cursor: pointer;
		}

		td {
			position: relative;
		}

		span.fc-day-number {
			font-size: 16px;
			font-weight: 600;
		}

		select#monthDropdown {
			border-radius: 6px;
		}

		select#yearDropdown {
			border-radius: 6px;
		}

		.detailed-attendance {
			font-size: 18px;
			font-weight: 600;
			border-bottom: 1px solid #b6bfd3;
			/* width: 100%; */
			display: flex;
			margin-bottom: -15px;
		}

		span.label-details {
			font-size: 15px;
			font-weight: 600;
			color: #053777;
		}

		span.employee-details {
			font-size: 16px;
			font-weight: 500;
		}

		span.no-detailsfound {
			text-align: center;
			display: flex;
			justify-content: center;
			font-size: 16px;
			font-weight: 500;
			transform: translate(0px, 25px);
			display: flex;
			flex-direction: column;
		}

		.fc-state-active {
			background-color: #053776;
			background-image: none;
			box-shadow: inset 0 2px 4px rgba(0, 0, 0, .15), 0 1px 2px rgba(0, 0, 0, .05);
			color: white;
		}

		@@media screen and (max-width:1320px) {
			div#card-footer-card {
				display: flex;
				flex-direction: row;
				text-align: center;
				justify-content: center;
				/* padding-inline: 12px; */
				/* gap: 5px; */
				margin-right: 20px;
				height: 65px;
			}
		}
    </style>
</head>
<body>

    <div class="group-box anim">
        <section class="atendance-calender-section">
            <p class="attendance-calender">Attendance Calendar</>
        </section>


        @* <h1 id="employeeFullName"></h1> *@
        <!-- Year and Month Dropdowns -->
        <div class="attendance-calenderlist">
            <div class="card">
				<h6 id="employeeFullName">@ViewBag.employeeFullName</h6>
            </div>
            <div class="year-months">
                <label class="years">Year</label>
                <select id="yearDropdown" class="select-control"></select>
                <label class="years">Month</label>
                <select id="monthDropdown" class="select-control"></select>
            </div>


        </div>

        <div id="calendar"></div>

        <div class="footer-text-content">
            <p class="footer-text">In this box each corresponding <br />a to indicate attendance status.</p>
            <div class="cardfooter-card" id="card-footer-card">

                <h6 id="attendance-footer">Attended </h6>
                <h6 class="attendance-footer-right">P</h6>
            </div>
            <div class="cardfooter-card" id="card-footer-card">

                <h6 id="leave-footer">Leave</h6>
                <h6 class="leave-footer-right">L</h6>
            </div>
            <div class="cardfooter-card" id="card-footer-card">

                <h6 id="sick-footer">Absent</h6>
                <h6 class="sick-footer-right">A</h6>
            </div>

            <div class="cardfooter-card" id="card-footer-card">

                <h6 id="public-footer">Public holiday</h6>
                <h6 class="public-footer-right">H</h6>
            </div>
        </div>
    </div>
	<!-- Modal -->
	 

	<div class="modal fade" id="dateModal" tabindex="-1" aria-labelledby="dateModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="dateModalLabel">Attendance Details</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body" id="modalDateText">
					Loading details...
				</div>
			</div>
		</div>
	</div>


    <script>
				// Hide the modal when clicking the close button
		$('.close').on('click', function () {
		  $('#dateModal').modal('hide');
		});

        $(function() {
          const currentDate = moment();

          // Populate year dropdown (currentYear - 5 to currentYear + 1)
				let lastKnownYear = moment().year();

		function populateYearDropdown() {
		  const yearDropdown = $('#yearDropdown');
		  const currentYear = moment().year();
		  yearDropdown.empty();
		  for (let y = currentYear - 1; y <= currentYear; y++) {
			yearDropdown.append(`<option value="${y}">${y}</option>`);
		  }
		  yearDropdown.val(currentYear);
		  lastKnownYear = currentYear;
		}


          // Populate month dropdown (1-12)
          function populateMonthDropdown() {
            const monthDropdown = $('#monthDropdown');
            monthDropdown.empty();
            for(let m = 1; m <= 12; m++) {
              const monthName = moment().month(m - 1).format('MMMM');
              monthDropdown.append(`<option value="${m}">${monthName}</option>`);
            }
            monthDropdown.val(currentDate.month() + 1);
          }

          // AJAX fetch attendance events for given year/month
		 function fetchEvents(year, month, callback) {
		  const currentView = $('#calendar').fullCalendar('getView').name;
		  $.ajax({
			url: '/employee/Attendance/AttendenceCalendarList',
			type: 'POST',
			data: { Year: year, Month: month },
			success: function(response) {
				console.log(response);
			  $("#employeeFullName").text(response.employeeFullName);
			  let events = [];
			  if (response && response.data && Array.isArray(response.data.dailyStatuses)) {
						events = response.data.dailyStatuses.map(item => {
		  let statusClass;
		  switch (item.status) {
			case 'Present': statusClass = 'status-present'; break;
			case 'Absent': statusClass = 'status-absent'; break;
			case 'Leave': statusClass = 'status-leave'; break;
			case 'Holiday': statusClass = 'status-holiday'; break;
			default: statusClass = 'status-unknown';
		  }

		  if (currentView === 'agendaWeek') {
			if (item.firstLogDate) {
			  // Time-bound event for week view
			  return { 
				start: item.firstLogDate.replace(' ', 'T'),
				end: item.lastLogDate ? item.lastLogDate.replace(' ', 'T') : null,
			   className: statusClass + ' time-bound-event',
				allDay: false
			  };
			} else {
			  // Fallback: use all-day event on the date when no firstLogDate
			  return { 
				start: item.date, // date only, e.g. "2025-05-03"
			   className: statusClass + ' time-bound-event',
				allDay: false
			  };
			}
		  } else {
			// Month view: all-day event
			return {
			  title: item.status,
			  start: item.date,
			  className: statusClass,
			  allDay: true
			};
		  }
		}).filter(e => e !== null);

			  }
			  callback(events);
			},
			error: function() {
			  alert('Failed to load attendance data.');
			  callback([]);
			}
		  });
		}



          populateYearDropdown();
          populateMonthDropdown();

          // Initialize FullCalendar
				$('#calendar').fullCalendar({
		  header: {
			left: 'prev,next today',
			center: 'title',
			right: 'month,agendaWeek'
		  },
		  defaultView: 'month',
		  height: 800,
		  minTime: "08:00:00",  // Start at 5 AM
		  maxTime: "24:00:00",
		  editable: false,
		  selectable: true,
		  views: {
		  agendaWeek: {
			timeFormat: 'h:mm A'  // 12-hour format with AM/PM
		  }
		},
		  // Load events via AJAX
		  events: function(start, end, timezone, callback) {
			const year = $('#yearDropdown').val();
			const month = $('#monthDropdown').val();
			fetchEvents(year, month, callback);
		  },

				  // Handle time slot or date click
			 eventClick: function(calEvent, jsEvent, view) {
		  const selectedDate = moment(calEvent.start).format('YYYY-MM-DD');
		  showAttendanceDetails(selectedDate); // This will open your modal and load details
		},





		   // If you   want dayClick for month view:
		  dayClick: function(date, jsEvent, view) {
			const selectedDate = date.format('YYYY-MM-DD');
			// Show loading text or spinner in the modal
			 

			// AJAX call to get detailed data for that date
		showAttendanceDetails(selectedDate);
		  },

		  // Toggle UI based on view and reload events for agendaWeek
		  viewRender: function(view, element) {
			if (view.name === 'agendaWeek') { 

			  // Refetch events to get time slots for agendaWeek
			  $('#calendar').fullCalendar('refetchEvents');

			  $('.fc-left').show();
			  $('.fc-event-container').show();
			} else if (view.name === 'month') {
				  $('#calendar').fullCalendar('refetchEvents');
			  $('.fc-left').hide();
			}
		  }
		});



          // When year or month changes, refetch events and move calendar to that month/year
          $('#yearDropdown, #monthDropdown').on('change', function() {
            const year = $('#yearDropdown').val();
            const month = $('#monthDropdown').val();
            $('#calendar').fullCalendar('gotoDate', moment(`${year}-${month}-01`));
            //$('#calendar').fullCalendar('refetchEvents'); //calander refresh
          });
        });
			function formatDate(dateStr) {
			if (!dateStr) return "-";
			const date = new Date(dateStr);
			const day = String(date.getDate()).padStart(2, '0');
			const month = date.toLocaleString('default', { month: 'short' });
			const year = date.getFullYear();
			return `${day}-${month}-${year}`;
		}

		function formatDateTime(dateStr) {
			if (!dateStr) return "-";
			const date = new Date(dateStr);

			const day = String(date.getDate()).padStart(2, '0');
			const month = date.toLocaleString('default', { month: 'short' });
			const year = date.getFullYear();

			let hours = date.getHours();
			const minutes = String(date.getMinutes()).padStart(2, '0');
			const ampm = hours >= 12 ? 'PM' : 'AM';

			hours = hours % 12;
			hours = hours ? hours : 12; // Convert 0 to 12
			const strTime = `${String(hours).padStart(2, '0')}:${minutes} ${ampm}`;

			return `${day}-${month}-${year} ${strTime}`;
		}

				 function showAttendanceDetails(selectedDate) {
		  $('#modalDateText').html('Loading details for: ' + selectedDate + '...');
		  $('#dateModal').modal('show');

			$.ajax({
			  url: '/employee/MyInfo/GetAttendanceDetails', // Replace with your actual endpoint
			  type: 'GET',
			  data: { date: selectedDate },
			  success: function(data) {
				let html = "";

					switch (data.recordType) {
			case "Attendance":
				html = `
					<div class="card shadow-sm border-0">
						<div class="card-body">
							<h5 class="card-title mb-3 text-primary">👤 Attendance Record</h5>
							<div class="row mb-2">
								<div class="col-md-6"><strong>Date:</strong> ${formatDate(data.workDate)}</div>
								<div class="col-md-6"><strong>Status:</strong> <span class="badge bg-success">${data.attendanceStatus ?? '-'}</span></div>
							</div>
							<div class="row mb-2">
								<div class="col-md-6"><strong>Check-in:</strong> ${formatDateTime(data.firstLogDate)}</div>
								<div class="col-md-6"><strong>Check-out:</strong> ${formatDateTime(data.lastLogDate)}</div>
							</div>
							<div class="row">
							<div class="col-md-6"><strong>Hours Worked:</strong> ${formatSqlTimeToHoursMinutes(data.hoursWorked)}</div>

							</div>
						</div>
					</div>`;
				break;

			case "Holiday":
				html = `
					<div class="card shadow-sm border-0">
						<div class="card-body">
							<h5 class="card-title mb-3 text-success">🎉 Holiday</h5>
							<div class="mb-2"><strong>Name:</strong> ${data.holidayName}</div>
							<div class="mb-2"><strong>Description:</strong> ${data.description ?? '-'}</div>
							<div><strong>From:</strong> ${formatDate(data.fromDate)} <strong>To:</strong> ${formatDate(data.toDate)}</div>
						</div>
					</div>`;
				break;

			case "Leave":
				html = `
					<div class="card shadow-sm border-0">
						<div class="card-body">
							<h5 class="card-title mb-3 text-warning">📅 Leave Details</h5>
							<div class="mb-2"><strong>Reason:</strong> ${data.reason}</div>
							<div class="mb-2"><strong>Start Date:</strong> ${formatDateTime(data.startDate)}</div>
							<div class="mb-2"><strong>End Date:</strong> ${formatDateTime(data.endDate)}</div>
							<div><strong>Status:</strong> <span class="badge bg-primary">#${data.leaveStatusID}</span></div>
						</div>
					</div>`;
				break;

			case "No Record Found":
			default:
				html = `<div class="alert alert-warning text-center">
							<i class="bi bi-info-circle-fill"></i> No attendance  record found for this day.
						</div>`;
				break;
		}
				$('#modalDateText').html(html);
			  },
			  error: function() {
				$('#modalDateText').html('<span style="color:red;">Failed to load attendance details.</span>');
			  }
			});
		}
							function formatSqlTimeToHoursMinutes(timeStr) {
			if (!timeStr || typeof timeStr !== 'string') return '-';

			const parts = timeStr.split(':');
			if (parts.length < 2) return '-';

			const hours = parseInt(parts[0], 10);
			const minutes = parseInt(parts[1], 10);

			let result = '';
			if (hours > 0) result += `${hours}h `;
			if (minutes > 0) result += `${minutes}m`;

			return result.trim() || '0m';
		}


    </script>

</body>
</html>

