@using Microsoft.AspNetCore.Http;
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

<link href="~/assets/pages/gridlist.css" rel="stylesheet" />

@model HRMS.Models.Common.Results
@{
    Layout = String.Format("~/Areas/{0}/Views/Shared/_Layout.cshtml", @HttpContextAccessor.HttpContext.Session.GetString(HRMS.Models.Common.Constants.AreaName));

    ViewData["Title"] = "Employee";

    var success = TempData["Success"];
    var Err = TempData["Error"];
}

<div class="main-header anim" style="--delay: 0s">Employee List  <a href="~/HR/employee"> <button type="button" class="btn btn-addBtn" id="openFormBtn">Add Employee</button></a></div>
@* <div class="addcomp px-4">
    <h4>Employee List</h4>
    <a href="~/HR/employee"> <button type="button" class="btn btn-addcompany" id="openFormBtn">Add Employee</button></a>
</div> *@

<div class="table-responsive py-3">

    <table id="tblEmployeeListing" class="table table-striped body-text" style="width:100%">
        <thead>
            <tr>
                <th class="first" style="visibility:hidden"> </th>
                
                <th >First Name</th>
                <th>Middle Name</th>
                <th>Surname</th>
                <th>Email Address</th>
                <th>Mobile</th>
                <th>Action</th>
            </tr>
        </thead>

    </table>
    </div>



<script type="text/javascript">

    $(document).ready(function () {

        $('#tblEmployeeListing').DataTable({
            "ajax": {
                "url": "EmployeeListings/",
                "type": "POST",
                "datatype": "json"
            },
            "ordering": true,
            "paging": true,
            "searching": true,
            "info": true,
            "columns": [
                { "data": "employeeID", "autoWidth": true,  },
                // { "data": "employeeNumber", "autoWidth": true, },
                { "data": "firstName", "autoWidth": true },
                { "data": "middleName", "autoWidth": true },
                { "data": "surname", "autoWidth": true },
                { "data": "personalEmailAddress", "autoWidth": true },
                { "data": "mobile", "autoWidth": true },
                

                {
                    // this is Actions Column
                    mRender: function (data, type, row) {
                        var linkEdit = '<div class="table-data-feature">' +
                            '<a data-toggle="tooltip" data-placement="top" class="item" href="Index?id=' + row.encryptedIdentity + '&CId=' + row.encodedCompanyID + '" title="" data-original-title="Edit">' +
                            '<img src="/assets/img/edit.png" width="20" height="20" />' +
                            '</a>' +
                            '</div>';

                        var moveToActiveEmployee = '<div class="table-data-feature">' +
                            '<a data-toggle="tooltip" data-placement="top" class="item" href="EmploymentDetails?id=' + row.encryptedIdentity + '&DeptId=' + row.encodedDepartmentIDID + '&DegtId=' + row.encodedDesignationID + '" title="" data-original-title="Edit">' +
                            '<img src="/assets/img/ReadyStatus.svg" width="20" height="20" />' +
                            '</a>' +
                            '</div>';

                        return linkEdit + moveToActiveEmployee;
                    }

                },

               
            ],
            "columnDefs": [
                {
            target: 2,
            visible: false,
            searchable: false
        },

                {

                    "targets": [0], //first and last not sortable
                    "orderable": false,
                    "visible": false
                },

                {

                    "targets": [1], //first and last not sortable
                    "orderable": true,
                    "defaultContent": " "
                }

            ]
            , "responsive": true

        });


    });


  
</script>