    @inject HRMS.Web.BusinessLayer.IBusinessLayer _businessLayer
    @inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@using HRMS.Models.Common
@model HRMS.Models.FormPermission.FormPermissionListViewModel
    @using Microsoft.AspNetCore.Http
@{
	var LoginRole = Convert.ToInt64(this.Context.Session.GetString(Constants.RoleID));
	var Logo = this.HttpContextAccessor.HttpContext.Session.GetString(Constants.CompanyLogo);
	var EmployeeNumber = this.HttpContextAccessor.HttpContext.Session.GetString(Constants.EmployeeNumber);
}
@if (Model.FormPermissionList.Where(x => (x.FormID == 2 || x.FormID == 11 || x.FormID == 15 || x.FormID == 16 || x.FormID == 13) && x.IsFormPermissions == true && x.FormLevel == 2).Count() > 0)
{
	<nav role="navigation" class="main-menu">
		<ul class="nav-list">
			@if (Model.FormPermissionList.Where(x => x.FormID == 10 && x.IsFormPermissions == true && x.FormLevel == 2).Count() > 0)
			{
				<li class="nav-list__item"><a class='nav-link' asp-area="@(HRMS.Models.Common.Constants.ManageAdmin)" asp-controller="DashBoard" asp-action="Index">Dashboard</a></li>
			}
			@if (Model.FormPermissionList.Where(x => x.FormID == 11 && x.IsFormPermissions == true && x.FormLevel == 2).Count() > 0)
			{
				<li class="nav-list__item submenu--triggers"><a class='nav-link' asp-area="admin" asp-controller="Template" asp-action="TemplateListing">Templates </a></li>
			}
			@if (Model.FormPermissionList.Where(x => x.FormID == 12 && x.IsFormPermissions == true && x.FormLevel == 2).Count() > 0)
			{
				<li class="nav-list__item"><a class='nav-link' asp-area="admin" asp-controller="LeavePolicy" asp-action="LeavePolicyListing">Leave Policy</a></li>
			}
			@if (Model.FormPermissionList.Where(x => x.FormID == 13 && x.IsFormPermissions == true && x.FormLevel == 2).Count() > 0)
			{
				<li class="nav-list__item"><a class='nav-link' asp-area="admin" asp-controller="Holiday" asp-action="HolidayListing">Holidays</a></li>
			}
			@if (Model.FormPermissionList.Where(x => x.FormID == 14 && x.IsFormPermissions == true && x.FormLevel == 2).Count() > 0)
			{
				<li class="nav-list__item"><a class='nav-link' asp-area="admin" asp-controller="LeavePolicy" asp-action="LeavePolicyDetailsListing">Policies </a></li>
			}
			@if (Model.FormPermissionList.Where(x => x.FormID == 15 && x.IsFormPermissions == true && x.FormLevel == 2).Count() > 0)
			{
				<li class="nav-list__item"><a class='nav-link' asp-area="admin" asp-controller="LeavePolicy" asp-action="WhatshappeningListing">What'sHappening</a></li>
			}
		</ul>
	</nav>
}